.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: cyan;
    background-color: cyan;
    -fx-background-radius: 0;
}

.scroll-bar:horizontal,
.scroll-bar:vertical {
    -fx-background-color: brown;
    background-color: brown;
    -fx-border-color: yellow;
    border-color: yellow;
    -fx-border-width: 2;
    border-width: 2;
    -fx-translate-x: 5;
    -fx-translate-y: 5;
}

.scroll-bar:vertical {
    -fx-pref-height: 1000;
    height: 1000;
    -fx-max-height: 1000;
    max-height: 1000;
    -fx-min-height: 1000;
    min-height: 1000;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: brown;
    background-color: brown;
    -fx-opacity: 1.0;
    opacity: 1.0;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: brown;
    background-color: brown;
}

.scroll-bar .increment-button .increment-arrow,
.scroll-bar .decrement-button .decrement-arrow {
    -fx-background-color: cyan;
    background-color: cyan;
}

.corner {
    -fx-background-color: brown;
    background-color: brown;
    -fx-translate-x: 4000;
    -fx-translate-y: 4000;
}

.scroll-pane > .scroll-bar:vertical {
    -fx-translate-x: 20;
    -fx-pref-height: 1000;
    height: 1000;
    -fx-min-height: 1000;
    min-height: 1000;
    -fx-max-height: 1000;
    max-height: 1000;
    -fx-background-insets: 0;
    -fx-padding: 0;
    padding: 0;
}

.scroll-pane > .scroll-bar:horizontal {
    -fx-translate-y: 20;
    -fx-pref-width: 1000;
    width: 1000;
    -fx-min-width: 1000;
    min-width: 1000;
    -fx-max-width: 1000;
    max-width: 1000;
    -fx-background-insets: 0;
    -fx-padding: 0;
    padding: 0;
}